<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552892352955-avfsgrbq29bo9bavov3n5ki8c136l2q9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552892352955-avfsgrbq29bo9bavov3n5ki8c136l2q9</string>
	<key>API_KEY</key>
	<string>AIzaSyDupwZ5lwcE9SPloEzNvTN5e_jN3NqpKEo</string>
	<key>GCM_SENDER_ID</key>
	<string>552892352955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.nelsonchung.bitrental</string>
	<key>PROJECT_ID</key>
	<string>bitrental-ef1a2</string>
	<key>STORAGE_BUCKET</key>
	<string>bitrental-ef1a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552892352955:ios:80c43e4fcd28e6eca69c9e</string>
	<key>DATABASE_URL</key>
	<string>https://bitrental-ef1a2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>